@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

html,
body {
  margin: auto;
  padding-bottom: 30px;
  color: white; /* Added some CSS to make my text white */
  background-color: rgb(56, 40, 26); /* CSS to make the bg black*/
  font-family: serif;
  width: 75%;
}

canvas {
  margin: auto; /* add the margin to center your canvas*/
  display: block;
}

h1 {
  text-align: center; /* Some CSS to center the text */
  font-family: "Aboreto", serif;
}

p {
  font-size: 16px;
}

ul {
    list-style-type: circle;
}

video {
    display: block;
    margin: 0 auto;
}

hr.dotted {
  border-top: 3px dotted #bbb;
}

.center {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
}

nav li {
    display: inline;
    font-family: serif;
}

nav a:link, nav a:visited {
    color: black;
    background-color: rgb(207, 136, 83);
    border-radius: 3px;
    text-decoration: none;
    padding: 2px 6px;
    margin: 0;
    font-size: 0.9em;
    border: 1px solid rgb(115, 37, 23);
}

nav a:hover {
    background-color: rgb(71, 23, 17);
    color: white;
}

nav a.current {
    background-color: rgb(179, 107, 45);
    color: rgb(227, 241, 255);
}
